  <footer class="site-footer bg-dark" style="margin-bottom: 0px;" >
    <div class="container">
      <div class="row" >
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">velo.tn <i>CODE WANTS TO BE SIMPLE </i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione at repellendus vel iure quibusdam, provident rem numquam odio unde expedita architecto nesciunt tempora dolorum ex ducimus obcaecati debitis, laboriosam nemo.</p>
        </div>
        
        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://velo.tn/category/c-language/">Ahearne </a></li>
            <li><a href="http://velo.tn/category/front-end-development/">Aarios </a></li>
            <li><a href="http://velo.tn/category/back-end-development/">Adeline</a></li>
            <li><a href="http://velo.tn/category/java-programming-language/">Ankerrad </a></li>
            <li><a href="http://velo.tn/category/android/">BMX</a></li>
            <li><a href="http://velo.tn/category/templates/">Atena</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://velo.tn/about/">About Us</a></li>
            <li><a href="http://velo.tn/contact/">Contact Us</a></li>
            <li><a href="http://velo.tn/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://velo.tn/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://velo.tn/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by 
       <a href="#">JavaForTheWin</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>